body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
}

#projectList, #toDoForm, #toDoList {
    flex: 1;
    margin: 10px;
}

#projectList {
    order: 1;

}

#toDoForm {
    order: 2;
}

#toDoList {
    order: 3;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: stretch;
    }

    #projectList, #toDoForm, #toDoList {
        width: 100%;
        margin: 10px 0;
    }
}